*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}

#root {
   cursor: url(arrowCursor.png),auto ;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("./night2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.firstRow{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#outerContainer{
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1px);
}
#secondRow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#nameDisplay {
    font-size: 46px;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(50deg,#7462ff 0%,#C850C0 50%,#FFCC70 100%);
    -webkit-background-clip: text;
    color: transparent;


}

.buttonStyle{
    font-size: 18px;
    padding: 5px 0px;
    background: linear-gradient(50deg,#7462ff 0%,#C850C0 46%,#FFCC70 100%) ;
    opacity: 0.9;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
}


.eachName{
   display: flex;
    align-items: center;
    padding: 0px 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.eachName > p{
    width: 100%;
    border-radius: 3px;
    padding:3px 12px;
    margin-bottom: 0px;
     border-radius: 3px;
}
#eachNameOuterDiv{
    padding-top: 3px;
    padding-bottom: 3px;
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
    
}
.eachName > button{
    padding: 1px 3px;
    background-color: #FAF9F6;
    height: 100%;
}

#addNameInput{
   
   background: transparent;

}

.border-style{
    /* border-radius: 10px; */
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(50deg,#7462ff 0%,#C850C0 46%,#FFCC70 100%) ;
    
}
#addNameButton{
    border-radius: 0px 10px 10px 0px ;
    border: none;
    padding: 0px;
    margin-bottom: 3px;
}
.ownButtonStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.eachName>p{
    background-color: #FAF9F6;
}